<div class="row-fluid" ng-hide="siteSurvey.imageUrl">
   <div class="span12 text-center">
      <form action="/upload" ng-upload>
         <fieldset>
            <legend>
               Add Site Survey Photo
            </legend>
            <div class="fileupload fileupload-new" data-provides="fileupload">
               <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;"><img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" />
               </div>
               <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
               <div>
                  <span class="btn btn-file"><span class="fileupload-new">Select Image</span><span class="fileupload-exists">Change</span>
                     <input type="file" name="image"/>
                  </span>
                  <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>

                  <button type="submit" class="btn btn-custom fileupload-exists" upload-submit="uploadResult(content, completed)">
                     Upload
                  </button>
               </div>
            </div>
         </fieldset>
      </form>
   </div>
</div>

<div class="row-fluid" ng-show="siteSurvey.imageUrl">
   <div class="alert alert-success span12 text-center">
      Image uploaded OK.
   </div>
</div>

<div class="row-fluid" ng-show="siteSurvey.imageUrl">
   <div class="span12">
      <form ng-submit="saveMarker()">
         <fieldset>
            <legend>
               Add Site Survey Photo
            </legend>
            <input class="span12" type="hidden" id="siteSurvey.imageUrl" ng-model="siteSurvey.imageUrl" required readonly>
            <label>Latitude</label>
            <input class="span12" type="text" id="siteSurvey.lat" ng-model="siteSurvey.lat" required readonly>
            <label>Longitude</label>
            <input class="span12" type="text" id="siteSurvey.lng" ng-model="siteSurvey.lng" required readonly>
            <label>Title</label>
            <input class="span12" type="text" id="siteSurvey.title" ng-model="siteSurvey.title" required>
            <label>Description</label>
            <textarea class="span12" id="siteSurvey.description" rows="5" ng-model="siteSurvey.description" required></textarea>
            <button id="surveySubmit" type="submit" class="btn btn-custom btn-large pull-right" style="margin-bottom: 50px;">
               Save
            </button>
         </fieldset>
      </form>
   </div>
</div>
