<div class="row-fluid">
   <div class="span3">
      <ul class="nav nav-tabs nav-stacked pull-left span12">
         <li>
            <a href="" class="active"><i class="icon-map-marker"></i> Site Survey <i class="icon-chevron-right pull-right"></i> </a>
         </li>
         <li class="">
            <a href=""><i class="icon-certificate"></i> Weather</a>
         </li>
         <li class="">
            <a href=""><i class="icon-bullhorn"></i> News</a>
         </li>
         <li class="">
            <a href=""><i class="icon-envelope"></i> Email</a>
         </li>
         <li class="">
            <a href=""><i class="icon-lock"></i> Private</a>
         </li>
      </ul>
   </div>
   <div class="span9">
      <div class="alert alert-success text-center">
         The map should go here!!!
      </div>
   </div>
</div>