<div class="navbar navbar-inverse navbar-fixed-bottom visible-phone hidden-tablet hidden-desktop span12">
    <div class="navbar-inner text-center">
        <div class="btn-group text-center">
            <a ng-href="#/surveys" class="btn btn-inverse"><i class="icon-camera icon-2x" ng-class="itemClasses('/surveys', '/add-survey')" ></i></a>
            <a ng-href="#/weather" class="btn btn-inverse"><i class="icon-certificate icon-2x" ng-class="itemClasses('/weather')" ></i></a>
            <a ng-href="#/news" class="btn btn-inverse"><i class="icon-bullhorn icon-2x" ng-class="itemClasses('/news')" ></i></a>
            <a ng-href="#/email" class="btn btn-inverse"><i class="icon-envelope icon-2x" ng-class="itemClasses('/email')"></i></a>
            <a href="/index.html" class="btn btn-inverse"><i class="icon-home icon-2x" ng-class="itemClasses('/home')"></i></a>
        </div>
    </div>
</div>