<div class="span3 hidden-phone">
        <div class="btn-group btn-group-vertical pull-right">
            <a ng-href="#/surveys" class="btn btn-large btn-inverse">
               <i class="icon-camera icon-2x" ng-class="itemClasses('/surveys', '/add-survey')" ></i>
               <span class="hidden-tablet" ng-class="itemClasses('/surveys')">&nbsp;&nbsp;Site Survey</span>
            </a>
            
            <a ng-href="#/weather" class="btn btn-large btn-inverse">
               <i class="icon-certificate icon-2x" ng-class="itemClasses('/weather')" ></i>
               <span class="hidden-tablet" ng-class="itemClasses('/weather')">&nbsp;&nbsp;Weather</span>
            </a>
            
            <a ng-href="#/news" class="btn btn-large btn-inverse">
               <i class="icon-bullhorn icon-2x" ng-class="itemClasses('/news')" ></i>
               <span class="hidden-tablet" ng-class="itemClasses('/news')">&nbsp;&nbsp;News</span>
            </a>
            
            <a ng-href="#/email" class="btn btn-large btn-inverse">
               <i class="icon-envelope icon-2x" ng-class="itemClasses('/email')" ></i>
               <span class="hidden-tablet" ng-class="itemClasses('/email')">&nbsp;&nbsp;Messages</span>
            </a>
            
            <a ng-href="/index.html" class="btn btn-large btn-inverse">
               <i class="icon-home icon-2x"></i>
               <span class="hidden-tablet">&nbsp;&nbsp;Home</span>
            </a>
        </div>
    </div>